<template>
    <div style="font-size: 14px">
        <!--<KdLabel :title="title" @showLabel="showLabel"></KdLabel>-->
        <!--<KdButton></KdButton>-->
        <!--<kd-avatar></kd-avatar>-->
        <div>
            <!--框1-->
            <KdSceneAntics>
                <div>
                    <p>欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                </div>
            </KdSceneAntics>
            <!--框2-->
            <KdSceneBeau title="标题开始-欢迎加入轻前端" clip=66><!--标题 右侧样式参数-->
                <div>
                    <p style="color: red;">注意右侧四边形样式，通过clip参数调整，值越大，从底往上，遮盖越多</p>
                    <p>注意右侧四边形样式</p>
                    <p>注意右侧四边形样式</p>
                    <p>注意右侧四边形样式</p>
                    <p>注意右侧四边形样式</p>
                    <p>注意右侧四边形样式</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                </div>
            </KdSceneBeau>
            <!--框3-->
            <KdSceneAmb title="标题开始-欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端">
                <div>
                    <p>欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端欢迎加入轻前端</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                    <p>公共资源部轻前端小组</p>
                </div>
            </KdSceneAmb>
        </div>
    </div>
</template>

<script>
    import {KdSceneAmb, KdSceneBeau, KdSceneAntics} from '../../src/scenes/index.js';
    export default {
         components: {
             KdSceneAmb,
             KdSceneBeau,
             KdSceneAntics
         },
        data() {
            return {
                title: 'Hello World',
                titleImg: 'Bird'
            };
        },
        methods: {
            showLabel(data){
                console.log('App showLabel:' + data);
            },
            showAvatar(data){
                console.log('App showAvatar:' + data);
            }
        }
    };
</script>
