<template>
  <div class='amb-kct-wrap'>
    <div class='amb-kct-titwrap'>
      <div class='amb-kct-titbor'>
        <div class='amb-kct-titarea'>
          <div class='amb-kct-titleft'></div>
          <div class='amb-kct-titmidle'></div>
          <div class='amb-kct-titright'></div>
        </div>
        <div class='amb-kct-titlecon'>
          <!--标题开始-->
          {{title}}
        </div>
      </div>
    </div>
    <div class='amb-kct-w amb-kct-lrt'>
      <div class='amb-kct-w amb-kct-lrb'>
        <div class='amb-kct-conbox'>
          <div class='amb-kct-wrapcony'></div>
          <div class='amb-kct-wrapconx'>
            <div class='amb-kct-wrapconxy'></div>
          </div>
        </div>
        <!--内容框开始-->
        <div class='amb-kct-wrapcon'>
          <!--从这里开始新建div 写自己的内容 内边距什么的自己定义 不要动其他class-->
          <slot></slot>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'KdSceneAmb',
    props: {
      'title': String
    },
    data(){
      return {

      };
    }
  };
</script>

<style scoped>
  .amb-kct-wrap {
    display: inline-block;
    position: relative;

    padding: 0;
    margin: 0;
    color: #fff;
  }

  .amb-kct-lrt, .amb-kct-lrb {
    position: relative;
    z-index: 1;

    padding: 0;
    margin: 0;

  }

  .amb-kct-lrt:before, .amb-kct-lrt:after, .amb-kct-lrb:before, .amb-kct-lrb:after {
    content: '';
    display: block;
    position: absolute;
    width: 29px;
    height: 23px;
    background-size: 29px 23px;
    background-repeat: no-repeat;
  }

  .amb-kct-lrt:before {
    top: 0;
    left: 0;
    background-image: url('./assets/images/boxamb/lt.png');
    background-position: left top;

  }

  .amb-kct-lrt:after {
    top: 0;
    right: 0;
    background-image: url('./assets/images/boxamb/rt.png');
    background-position: left bottom;
  }

  .amb-kct-lrb:before {
    left: 0;
    bottom: 0;
    background-image: url('./assets/images/boxamb/lb.png');
    background-position: right top;
  }

  .amb-kct-lrb:after {
    right: 0;
    bottom: 0;
    background-image: url('./assets/images/boxamb/rb.png');
    background-position: right bottom;
  }

  .amb-kct-conbox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .amb-kct-wrapcony {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 23px 0;
    box-sizing: border-box;
    background: url('./assets/images/boxamb/repeatlybg.png') no-repeat left top,
    url('./assets/images/boxamb/repeatrybg.png') no-repeat right top;
    background-size: 29px 100%;
    background-origin: content-box;
  }

  .amb-kct-wrapconx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 29px;
    box-sizing: border-box;
    background: url('./assets/images/boxamb/repeattxbg.png') no-repeat left top,
    url('./assets/images/boxamb/repeatbxbg.png') no-repeat left bottom;
    background-size: 100% 23px;
    background-origin: content-box;
  }

  .amb-kct-wrapcon {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .amb-kct-wrapconxy {
    width: 100%;
    height: 100%;
    padding:  23px 0;
    box-sizing: border-box;
    background: url('./assets/images/boxamb/repeatxybg.png') no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
  }
  .amb-kct-titarea{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    line-height: 40px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
  }
  .amb-kct-titleft,.amb-kct-titright{
    position: relative;
    flex: 1;
    background: url('./assets/images/boxamb/titxy.png') repeat-x;
    background-size:  100% 50px;
  }
  .amb-kct-titleft:before{
    content:'';
    position: absolute;
    left: -23px;
    top:0;
    display: inline-block;
    width: 23px;
    height: 50px;
    background: url('./assets/images/boxamb/titleft.png') no-repeat left top;
    box-sizing: border-box;
  }
  .amb-kct-titmidle{
    width: 157px;
    height: 50px;
    background: url('./assets/images/boxamb/titmid.png') no-repeat center top;
    box-sizing: border-box;
  }
  .amb-kct-titright:after{
    position: absolute;
    right: -23px;
    top:0;
    content:'';
    display: inline-block;
    width: 23px;
    height: 50px;
    background: url('./assets/images/boxamb/titright.png') no-repeat right top;
    background-size: auto 50px;
    box-sizing: border-box;
  }
  .amb-kct-titlecon{
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 50px;
    line-height: 40px;
    box-sizing: border-box;
    background: url('./assets/images/boxamb/titmid.png') no-repeat center top;
    background-size: auto 50px;

  }
  .amb-kct-titwrap{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .amb-kct-w{
    margin-top: -20px;
  }
  .amb-kct-titbor{
    position: relative;
    display: inline-block;
  }
</style>
