<template>
    <div class='y-kct-wrap'>
        <div class='y-kct-titwrap'>
            <div class='y-kct-titarea'>
                <div class='y-kct-titbor'>
                    <div class='y-kct-titcon'>
                        <div class='y-kct-titlecon'>
                            <!--标题开始-->
                            {{title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='y-kct-w y-kct-lrt'>
            <div class='y-kct-w y-kct-lrb'>
                <div class='y-kct-conbox'>
                    <div class='y-kct-wrapcony'></div>
                    <div class='y-kct-wrapconx'>
                        <div class='y-kct-wrapconxy'></div>
                        <div class='y-kct-wrapconside' :style="{bottom: clip + 'px' }"></div><!--右侧边栏值越大遮挡越多-->
                    </div>
                </div>
                <!--内容框开始-->
                <div class='y-kct-wrapcon'>
                    <!--从这里开始新建div 写自己的内容 内边距什么的自己定义 不要动其他class-->
                    <slot></slot>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'KdSceneBeau',
        props: {
            'title': String,
            'clip': String
        },
        data() {
            return {};
        }
    };
</script>

<style scoped>
    .y-kct-wrap {
        display: inline-block;
        position: relative;
        min-width: 260px;
        min-height: 128px;
        padding: 0;
        margin: 0;
        color: #fff;
    }

    .y-kct-lrt, .y-kct-lrb {
        position: relative;
        z-index: 1;
        min-width: 260px;
        min-height: 128px;
        padding: 0;
        margin: 0;

    }

    .y-kct-lrt:before, .y-kct-lrt:after, .y-kct-lrb:before, .y-kct-lrb:after {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 64px;
        background-size: 24px 64px;
        background-repeat: no-repeat;
    }

    .y-kct-lrt:before {
        top: 0;
        left: 0;
        background-image: url('./assets/images/boxsecond/lt.png');
        background-position: left top;

    }

    .y-kct-lrt:after {
        top: 0;
        right: 0;
        background-image: url('./assets/images/boxsecond/rt.png');
        background-position: left bottom;
    }

    .y-kct-lrb:before {
        left: 0;
        bottom: 0;
        background-image: url('./assets/images/boxsecond/lb.png');
        background-position: right top;
    }

    .y-kct-lrb:after {
        right: 0;
        bottom: 0;
        background-image: url('./assets/images/boxsecond/rb.png');
        background-position: right bottom;
    }

    .y-kct-conbox {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .y-kct-wrapcony {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 64px 0;
        padding-right: 6px;
        box-sizing: border-box;
        background: url('./assets/images/boxsecond/repeatlybg.png') no-repeat left top,
        url('./assets/images/boxsecond/repeatrybg.png') no-repeat right top;
        background-size: 24px 100%;
        background-origin: content-box;
    }

    .y-kct-wrapconx {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 24px;
        padding-right: 23px;
        box-sizing: border-box;
        background: url('./assets/images/boxsecond/repeattxbg.png') no-repeat left top,
        url('./assets/images/boxsecond/repeatbxbg.png') no-repeat left bottom;
        background-size: 100% 64px;
        background-origin: content-box;
    }

    .y-kct-wrapcon {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px;
        padding-right: 26px;
        box-sizing: border-box;
    }

    .y-kct-wrapconxy {
        width: 100%;
        height: 100%;
        padding: 64px 0;
        box-sizing: border-box;
        background: url('./assets/images/boxsecond/repeatxybg.png') no-repeat;
        background-origin: content-box;
        background-size: 100% 100%;
    }

    .y-kct-titarea {
        display: inline-block;
        min-width: 203px;
        line-height: 40px;
        height: 50px;
        padding-left: 23px;
        background: url('./assets/images/boxsecond/titleft.png') no-repeat left top;
        text-align: center;
        box-sizing: border-box;
    }

    .y-kct-titbor {
        height: 50px;
        padding-right: 23px;
        background: url('./assets/images/boxsecond/titright.png') no-repeat right top;
        box-sizing: border-box;
    }

    .y-kct-titcon {
        height: 50px;
        background: url('./assets/images/boxsecond/titxy.png') repeat-x;
        background-size: auto 50px;
        box-sizing: border-box;
    }

    .y-kct-titlecon {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: url('./assets/images/boxsecond/titmid.png') no-repeat center top;
        background-size: auto 50px;

    }

    .y-kct-titwrap {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .y-kct-w {
        margin-top: -20px;
    }

    .y-kct-wrapconside {
        position: absolute;
        right: 12px;
        top: 12px;
        bottom: 72px;
        width: 7px;
        background: url('./assets/images/boxsecond/sideline.png') repeat-y right top;
        background-origin: content-box;
    }
</style>
