<template>
  <div class="y-kc-wrap">
    <div class="y-kc-w y-kc-lrt">
      <div class="y-kc-w y-kc-lrb">
        <div class="y-kc-conbox">
          <div class="y-kc-wrapcony"></div>
          <div class="y-kc-wrapconx">
            <div class="y-kc-wrapconxy"></div>
          </div>
        </div>
        <!--内容框开始-->
        <div class="y-kc-wrapcon">
          <!--从这里开始新建div 写自己的内容 内边距什么的自己定义 不要动其他class-->
          <slot></slot>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'KdSceneAntics'
  };
</script>

<style scoped>
  .y-kc-wrap {
    display: inline-block;
    position: relative;
    min-width: 360px;
    min-height: 274px;
    padding: 0;
    margin: 0;
    color: #fff;
  }

  .y-kc-lrt, .y-kc-lrb {
    position: relative;
    min-width: 360px;
    min-height: 274px;
    padding: 0;
    margin: 0;

  }

  .y-kc-lrt:before, .y-kc-lrt:after, .y-kc-lrb:before, .y-kc-lrb:after {
    content: '';
    display: block;
    position: absolute;
    width: 180px;
    height: 137px;
    background-size: 180px 137px;
    background-repeat: no-repeat;
  }

  .y-kc-lrt:before {
    top: 0;
    left: 0;
    background-image: url('./assets/images/boxfirst/lt.png');
    background-position: left top;

  }

  .y-kc-lrt:after {
    top: 0;
    right: 0;
    background-image: url('./assets/images/boxfirst/rt.png');
    background-position: left bottom;
  }

  .y-kc-lrb:before {
    left: 0;
    bottom: 0;
    background-image: url('./assets/images/boxfirst/lb.png');
    background-position: right top;
  }

  .y-kc-lrb:after {
    right: 0;
    bottom: 0;
    background-image: url('./assets/images/boxfirst/rb.png');
    background-position: right bottom;
  }

  .y-kc-conbox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .y-kc-wrapcony {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 137px 0;
    box-sizing: border-box;
    background: url('./assets/images/boxfirst/repeatlybg.png') no-repeat left top,
    url('./assets/images/boxfirst/repeatrybg.png') no-repeat right top;
    background-size: 180px 100%;
    background-origin: content-box;
  }

  .y-kc-wrapconx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 180px;
    box-sizing: border-box;
    background: url('./assets/images/boxfirst/repeattxbg.png') no-repeat left top,
    url('./assets/images/boxfirst/repeatbxbg.png') no-repeat left bottom;
    background-size: 100% 137px;
    background-origin: content-box;
  }

  .y-kc-wrapcon {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 25px;
    box-sizing: border-box;
  }

  .y-kc-wrapconxy {
    width: 100%;
    height: 100%;
    padding: 137px 0;
    box-sizing: border-box;
    background: url("./assets/images/boxfirst/repeatxybg.png") no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
  }
</style>
