body {
  /* background: #111;
  color: #fff; */
  background: #fafbfc;
  color: #586069;
}

.example {
  width: 60%;
  margin: 0 auto;
  padding: 30px 50px;
}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
  display: block;
  overflow-x: auto;
  color: #525252;
  padding: 15px;
  -webkit-text-size-adjust: none;
}

.hljs-doctype{
  color: #999;
}
.hljs-tag{
  color: #3e76f6;
}
.hljs-attribute {
  color: #e96900;
}
.hljs-value{
  color: #42b983;
}
.hljs-keyword{
  color: #e96900;
}
.hljs-string{
  color: #42b983;
}
.hljs-comment{
  color: #b3b3b3;
}
.hljs-operator .hljs-comment{
  color: #525252;
}
.hljs-regexp{
  color: #af7dff;
}
.hljs-built_in{
  color: #2db7f5;
}
.css .hljs-class{
  color: #e96900;
}
.css .hljs-number, .javascript .hljs-number{
  color: #fc1e70;
}
.css .hljs-attribute{
  color: #af7dff;
}
.css .hljs-important{
  color: #f00;
}
.javascript .hljs-literal, .actionscript .hljs-literal{
  color: #fc1e70;
}
.first-component-button{
  height: 40px;
  line-height: 40px;
}

