<template>
    <span class="first-component-label" @click="clickLabel">{{title}}</span>
</template>
<script>
  export default {
    name: 'KdLabel',
    props: {
      title: {
        type: String,
        default: ''
      }
    },
    methods: {
      clickLabel() {
        this.$emit('showLabel', this.title);
      }
    }
  };
</script>
